/* Home Select */

body {
    height: 100vh;
    background-color: dodgerblue;
}

button {
    width: 200px; 
    height: 50px;
    background: none;   
    border: none
}

.container {
    height: 100%;
    width: 1660px;
    margin: 0 auto;
    display: flex;
    justify-content: center;    
    align-items: center;
}

.button {
    /* Formattazione */
    background-color: black;
    height: 50px;
    width: 200px;
    margin: 20px;
    /* Text */
    text-align: center;
    line-height: 50px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    /* Animation */
    transition: border-radius 1s, background .4s;
}

.button:hover {
 background-color: #fff;
 color: black;
 border-radius: 30px;
}